.home-section {
    background-color: #f4f4f4; /* Light gray background */
    padding: 50px 0;
    text-align: center;
}

.home-section h1 {
    color: #333;
}

.home-section p {
    color: #666;
}

.home-section .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.profile-photo {
    border-radius: 50%;
}

.nav__header {
    padding: 0.75rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
  
.nav__logo a {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}